<ul>
	{{#each boxes}}
		<li>
			<div class="box-div" data-index="{{index}}">
				<div class="box-group-1">
					<div class="box-group-left-content">
						{{sample}}
					</div>
				</div>
				<div class="box-group-4">
					<div class="box-group-right-content">
						{{#if includePron}}
							Definitions: {{percentDefs}}%
							Pronunciation: {{percentPron}}%
						{{else}}
							{{percentDefs}}%
						{{/if}}
					</div>
				</div>
			</div>
		</li>
	{{/each}}
</ul>