<div class="content">

	<div class="group-left">
		<div class="section-title">
			Translation Progress
		</div>
		<div class="progress-box progress-box-defs">
			<div class="progress-level">
				{{#each buttons}}
					<div class="progress-bar progress-bar-{{progress}}" data-progress="{{progress}}">
					</div>
				{{/each}}
			</div>
		</div>
		{{#if include_pron}}
			<div class="section-title section-title-not-first">
				Pronunciation Progress
			</div>
			<div class="progress-box progress-box-pron">
				<div class="progress-level">
					{{#each buttons}}
						<div class="progress-bar progress-bar-{{progress}}" data-progress="{{progress}}">
						</div>
					{{/each}}
				</div>
			</div>
		{{/if}}
	</div>

	<div class="group-middle">
		<div class="card">
			<div class="card-half card-top">
				<div class="card-top-group">
					<div class="card-top-text"></div>
					<div class="card-top-excerpt"></div>
				</div>
			</div>
			<div class="card-half card-bottom">
				<div class="card-bottom-content">
					<div class="card-bottom-text"></div>
					<div class="card-bottom-strokes">
						<img class="stroke-holder stroke-holder-1" />
						<img class="stroke-holder stroke-holder-2" />
						<img class="stroke-holder stroke-holder-3" />
						<img class="stroke-holder stroke-holder-4" />
					</div>
					<br />
					<div class="card-reveal-btn">reveal translation</div>
					<div class="card-reveal-txt"></div>
				</div>
			</div>
		</div>

		<div class="flip-btn">
			<div class="flip-btn-text">reveal answer</div>
		</div>

		<div class="btn-container">
			{{#each buttons}}
				<div class='btn btn-{{progress}}' data-progress="{{progress}}">
					<div class='btn-text'>{{text}}</div>
				</div>
			{{/each}}
		</div>
	</div>

	<div class="group-right">
		<div class="wordref-menu">
		</div>

		<div class="section-title section-title-not-first">
			Study Options
		</div>

		<div class="pron-btn-group pron-btn-group-top">
			<a>
				<div class="facebook-signup-btn change-order-btn">Swap direction</div>
			</a>
		</div>
		{{#if include_pron}}
			<div class="pron-btn-group">
				<a>
					<div class="facebook-signup-btn change-study-mode-btn"></div>
				</a>
			</div>
		{{/if}}
		{{#if include_pron}}
			<div class="pron-btn-group">
				<a>
					<div class="facebook-signup-btn show-pron-btn"></div>
				</a>
			</div>
		{{/if}}
		<div class="pron-btn-group">
			<a>
				<div class="facebook-signup-btn delete-card-btn">Delete card</div>
			</a>
		</div>
		<div class="pron-btn-group">
			<a>
				<div class="facebook-signup-btn forget-progress-btn">Forget 1</div>
			</a>
		</div>
	</div>

</div>

<div class="excerpt">
	{{excerpt}}
</div>

<div class="deck-summary">
	
</div>

<div class="phrase-popup">
</div>
