<div class="section-title">
	References
</div>

{{#if lang_es}}
	<a href="http://www.wordreference.com/es/en/translation.asp?spen={{base}}" target="_blank">
		<div class="facebook-signup-btn">
			Lookup Phrase
		</div>
	</a>
{{/if}}

{{#if lang_fr}}
	<a href="http://www.wordreference.com/fren/{{base}}" target="_blank">
		<div class="facebook-signup-btn">
			Lookup Phrase
		</div>
	</a>
{{/if}}

{{#if lang_he}}
	<a href="http://www.morfix.co.il/en/{{base}}" target="_blank">
		<div class="facebook-signup-btn">
			Lookup Phrase
		</div>
	</a>
{{/if}}

{{#if lang_ru}}
	<a href="http://www.lingvo-online.ru/en/Translate/ru-en/{{base}}" target="_blank">
		<div class="facebook-signup-btn">
			Lookup Phrase
		</div>
	</a>
{{/if}}

<a href="https://translate.google.com/#{{lang}}/en/{{base}}" target="_blank">
	<div class="facebook-signup-btn">
		Google Translate
	</div>
</a>